<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>location</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--INFO LIST ABOUT LOCATION-->
  <ion-list>
    <ion-item>
      <ion-label>Address:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Contact:</ion-label>
    </ion-item>

  </ion-list>
  <!--AVAILABLE BADGES-->
  <ion-list>
    <ion-list-header>Badges</ion-list-header>
  </ion-list>
  <!--UPCOMING EVENTS-->
  <ion-list>
    <ion-list-header>Upcoming Activities</ion-list-header>
  </ion-list>
  <!--CHECK IN BUTTON-->
  <ion-button>check in</ion-button>

</ion-content>
