<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>location</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--INFO LIST ABOUT LOCATION-->
  <ion-list>
    <ion-item>
      <ion-label>Name: {{youthcentre.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lat: {{youthcentre.lat}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lon: {{youthcentre.lon}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Current number of active activities: {{youthcentre.currentactivactivities}}</ion-label>
    </ion-item>

  </ion-list>
  <!--AVAILABLE BADGES-->
  <ion-list>
    <ion-list-header>Badges</ion-list-header>
  </ion-list>
  <!--UPCOMING EVENTS-->
  <ion-list>
    <ion-list-header>Upcoming Activities</ion-list-header>
    <ion-item *ngFor="let activity of allActivitiesForCenter">
        <ion-card-title>{{activity.name}}</ion-card-title>
    </ion-item>
  </ion-list>
  <!--CHECK IN BUTTON-->
  <ion-button (click)="checkin()">check in</ion-button>
 <!---->
</ion-content>
