<ion-header>
    <ion-toolbar color="light">
        <ion-title>Märken</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!--PROGRESS BAR-->
    <ion-list class="progress-bar">
        <ion-list-header>Mina framsteg</ion-list-header>
        <ion-progress-bar color="dark" value="{{progressValue}}"></ion-progress-bar>
    </ion-list>
    <!--SEGMENT OPTIONS-->
    <div padding>
        <ion-segment color="light" (ionChange)="segmentChanged($event)" value="all-badges">
            <ion-segment-button value="all-badges">Alla</ion-segment-button>
            <ion-segment-button value="taken-badges">Tagna</ion-segment-button>
            <ion-segment-button value="avail-badges" (click)="displayAvailBadges()">Tillgängliga</ion-segment-button>
        </ion-segment>
    </div>
    <!--LIST OF ALL BADGES-->
    <div [ngSwitch]="badgeList">
        <ion-list lines="none" *ngSwitchCase="'all-badges'">
            <ng-container *ngFor="let card of allBadges; let i = index">
                <ion-item *ngIf="i % 3 === 0">
                    <ion-card class="clickable-cards">
                        <ion-card-header>
                            <ion-card-title>{{getBadgeCategory(i)}}</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-grid>
                                <ion-row>
                                    <ion-col *ngFor="let badge of allBadges.slice((i), (i)+3)"
                                             (click)="loadBadge(badge)">
                                        <div *ngIf="allBadges.length>0" class="{{getBadgeClass(badge)}}"><img
                                                src={{badge.image}}/></div>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="12">
                                        <ion-progress-bar class="category-progress" *ngIf="allBadges.length>0" color="dark"
                                                          value="{{getBadgeCategoryProgress(card)}}"></ion-progress-bar>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                </ion-item>
            </ng-container>
        </ion-list>
        <!--LIST OF ALL USERS TAKEN BADGES-->
        <ion-list lines=" none
                                        " *ngSwitchCase="'taken-badges'">
            <ion-item>
                <ion-card class="clickable-cards">
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col *ngFor="let badge of allOfUsersBadges"
                                         (click)="loadBadge(badge)"><img
                                        src={{badge.image}}/>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-item>
        </ion-list>
        <!-- LIST OF ALL AVAILABLE BADGES-->
        <ion-list lines="none" *ngSwitchCase="'avail-badges'">
            <ion-item>
                <ion-card class="clickable-cards">
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="4" *ngFor="let badge of allAvailBadges"
                                         (click)="loadBadge(badge)"><img src={{badge.image}}/>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-item>
        </ion-list>
    </div>

</ion-content>
