<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Badges</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!--PROGRESS BAR-->
    <ion-list>
        <ion-list-header>My Progress</ion-list-header>
        <ion-progress-bar value="{{progressValue}}"></ion-progress-bar>
    </ion-list>
    <!--SEGMENT OPTIONS-->
    <div padding>
        <ion-segment (ionChange)="segmentChanged($event)" value="all-badges">
            <ion-segment-button value="all-badges">All</ion-segment-button>
            <ion-segment-button value="taken-badges">Taken</ion-segment-button>
            <ion-segment-button value="avail-badges" (click)="displayAvailBadges()">Available</ion-segment-button>
        </ion-segment>
    </div>
    <!--LIST OF ALL BADGES-->
    <div [ngSwitch]="badgeList">
        <ion-list *ngSwitchCase="'all-badges'">
            <ion-item *ngFor="let badge of allBadges">
                <ion-card (click) = loadBadge(badge)>
                    <img src={{badge.image}}/>
                    <ion-card-title>{{badge.name}}</ion-card-title>
                </ion-card>
            </ion-item>
        </ion-list>
        <!--LIST OF ALL USERS TAKEN BADGES-->
        <ion-list *ngSwitchCase="'taken-badges'">
            <ion-item *ngFor="let badge of allOfUsersBadges">
                <ion-card (click)="loadBadge(badge)">
                    <img src={{badge.image}}/>
                    <ion-card-title>{{badge.name}}</ion-card-title>
                </ion-card>
            </ion-item>
        </ion-list>
        <!-- LIST OF ALL AVAILABLE BADGES-->
        <ion-list *ngSwitchCase="'avail-badges'">
            <ion-item *ngFor="let badge of allAvailBadges">
                <ion-card (click)="loadBadge(badge)">
                    <img src={{badge.image}}/>
                    <ion-card-title>{{badge.name}}</ion-card-title>
                </ion-card>
            </ion-item>
        </ion-list>
    </div>

</ion-content>
