<ion-header>
    <ion-toolbar color="light">
        <ion-title>Aktivteter</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!--SEARCH-BAR-->
    <ion-searchbar placeholder="Sök aktivitet" (ionFocus)="hasSearched = true"
                   (ionCancel)="hasSearched = false" (ionClear)="hasSearched = false"
                   (ionInput)="searchActivity($event)"></ion-searchbar>
    <!--SELECT CATEGORY-->
    <ion-item lines="none" class="category-dropdown">
        <ion-label>Kategori:</ion-label>
        <ion-select class="select-box" [(ngModel)]="activity" ngDefaultControl (ionCancel)="haveChosenCategory = false" (ionChange)="sortByCategory($event)">
            <ion-select-option>Alla</ion-select-option>
            <ion-select-option *ngFor="let activity of this.activityService.allCategories"
             [value]="activity.name">{{activity.name}}</ion-select-option>
        </ion-select>
    </ion-item>
    <!-- TAB TO CHOOSE WHICH VIEW(BETWEEN ALL, MY AND CHALLENGE ACTIVITIES(LAST ONE ONLY FOR ADMIN) -->
    <div padding>
        <ion-segment color="light" (ionChange)="segmentChanged($event)" value="all-activities">
            <ion-segment-button value="all-activities">
                <ion-label>Alla
                    <ion-badge color="light" slot="end">{{activityService.allActiveActivities.length}}</ion-badge>
                </ion-label>
            </ion-segment-button>
            <ion-segment-button *appHasRole="'user'" value="my-activities" >
                <ion-label>Mina
                    <ion-badge color="light" slot="end">{{activityService.allMyActivities.length}}</ion-badge>
                </ion-label>
            </ion-segment-button>
            <ion-segment-button *appHasRole="'admin'" value="pending-activities">
                <ion-label>Admin
                    <ion-badge slot="end">{{activityService.adminActivities.length}}</ion-badge>
                </ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>
    <div class="card-list" [ngSwitch]="activity">
        <!--CARD LIST FOR ALL EVENTS-->
        <div *ngIf="shouldBeVisible()">
            <ion-list *ngSwitchCase="'all-activities'">
                <ion-item lines="none" *ngFor="let activity of activityService.allActiveActivities">
                    <ion-card class="clickable-cards" (click)="loadEvent(activity)">
                        <ion-card-header>
                            <ion-card-title>{{activity.name}}</ion-card-title>
                            <ion-card-subtitle>{{getStartDate(activity)}}
                                -- {{getActivityLabel(activity)}}</ion-card-subtitle>
                        </ion-card-header>
                    </ion-card>
                </ion-item>
            </ion-list>
        </div>

        <div *ngIf="hasSearched">
            <ion-list *ngSwitchCase="'all-activities'">
                <ion-item lines="none" *ngFor="let activity of searchedActivities">
                    <ion-card class="clickable-cards" (click)="loadEvent(activity)">
                        <ion-card-header>
                        <ion-card-title>{{activity.name}}</ion-card-title>
                        <ion-card-subtitle>{{getStartDate(activity)}}
                            -- {{getActivityLabel(activity)}}</ion-card-subtitle>
                        </ion-card-header>
                    </ion-card>
                </ion-item>
            </ion-list>
        </div>

        <div *ngIf="haveChosenCategory">
            <ion-list>
                <ion-item lines="none" *ngFor="let activity of selectedCategory">
                    <ion-card class="clickable-cards" (click)="loadEvent(activity)">
                        <ion-card-header>
                        <ion-card-title>{{activity.name}}</ion-card-title>
                        <ion-card-subtitle>{{getStartDate(activity)}}
                            -- {{getActivityLabel(activity)}}</ion-card-subtitle>
                        </ion-card-header>
                    </ion-card>
                </ion-item>

            </ion-list>

        </div>
        <!--MY ACTIVITY LIST-->
        <ion-list *ngSwitchCase="'my-activities'">
            <ion-item lines="none" *ngFor="let activity of activityService.allMyActivities">
                <ion-card class="clickable-cards" (click)="loadEvent(activity)">
                    <ion-card-header>
                        <ion-card-title>{{activity.name}}</ion-card-title>
                        <ion-card-subtitle>{{getStartDate(activity)}}
                            -- {{getActivityLabel(activity)}}</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-item>
        </ion-list>
        <!--MY PENDING ACTIVITIES-->
        <ion-list *ngSwitchCase="'pending-activities'">
            <ion-item lines="none" *ngFor="let activity of activityService.adminActivities">
                <ion-card class="clickable-cards" (click)="loadEvent(activity)">
                    <ion-card-header>
                        <ion-card-title>{{activity.name}}</ion-card-title>
                        <ion-card-subtitle>{{getStartDate(activity)}}
                            -- {{getActivityLabel(activity)}}</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-item>
        </ion-list>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="goToCreateEvent()" class="add-fab">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>


        <!--   <ion-fab-list side="start">
               <ion-button class="create-activity-buttons" *appHasRole="'admin'" (click)="goToCreateEvent()">Skapa
                   aktivitet
               </ion-button>
               <ion-button class="create-activity-buttons" *appHasRole="'user'" (click)="goToCreateEvent()">Föreslå
                   aktivitet
               </ion-button>
           </ion-fab-list> -->

    </ion-fab>

</ion-content>

