<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Event</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!--SEARCH-BAR-->
    <ion-searchbar placeholder="Search activity"></ion-searchbar>
    <!-- TAB TO CHOOSE WHICH VIEW(BETWEEN ALL, MY AND CHALLENGE ACTIVITIES(LAST ONE ONLY FOR ADMIN) -->
    <div padding>
        <ion-segment (ionChange)="segmentChanged($event)" value="all-activities">
            <ion-segment-button value="all-activities">
                <ion-label>All
                    <ion-badge slot="end">{{activityService.allActivities.length}}</ion-badge>
                </ion-label>
            </ion-segment-button>
            <ion-segment-button *appHasRole="'user'" value="my-activities">
                <ion-label>My
                    <ion-badge slot="end">{{activityService.allMyActivities.length}}</ion-badge>
                </ion-label>
            </ion-segment-button>
            <ion-segment-button *appHasRole="'admin'" value="pending-activities">
                <ion-label>Admin
                    <ion-badge slot="end">{{activityService.allMyPendingActivities.length}}</ion-badge>
                </ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="activity">
        <!--CARD LIST FOR ALL EVENTS-->
        <ion-list *ngSwitchCase="'all-activities'">
            <ion-item *ngFor="let activity of activityService.allActivities">
                <ion-card (click)="loadEvent(activity)">
                    <ion-card-title>{{activity.name}}</ion-card-title>
                </ion-card>
            </ion-item>
        </ion-list>
        <!--MY ACTIVITY LIST-->
        <ion-list *ngSwitchCase="'my-activities'">
            <ion-item *ngFor="let activity of activityService.allMyActivities">
                <ion-card (click)="loadEvent(activity)">
                    <ion-card-title>{{activity.name}}</ion-card-title>
                </ion-card>
            </ion-item>
        </ion-list>
        <!--MY PENDING ACTIVITIES-->
        <ion-list *ngSwitchCase="'pending-activities'">
            <ion-item *ngFor="let activity of activityService.allMyPendingActivities">
                <ion-card (click)="loadEvent(activity)">
                    <ion-card-title>{{activity.name}}</ion-card-title>
                </ion-card>
            </ion-item>
        </ion-list>
    </div>



    <ion-button *appHasRole="'admin'" (click)="goToCreateEvent()">Create Activity</ion-button>
    <ion-button *appHasRole="'user'" (click)="goToCreateEvent()">Suggest Activity</ion-button>


</ion-content>

