<ion-header>
    <ion-toolbar color="light">
        <ion-title>{{badge.name}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button text="Tillbaka"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="list-card">
        <ion-card-header>
            <ion-card-title style="text-align: center;">{{badge.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list lines="none">
                <ion-item>
                    <img src={{badge.image}}/>
                </ion-item>
                <ion-item>
                    <ion-text>{{badge.description}}</ion-text>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>


</ion-content>
