<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Ta bort ditt konto</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-grid>
            <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div text-center>
                        <h3>Är du säker på att du vill ta bort ditt konto?</h3>
                    </div>
                    <div padding>
                        <ion-item>
                            <ion-input name="username" placeholder="Username" type="text" ngModel
                                       required
                                       [(ngModel)]="username" ngDefaultControl></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="password:" placeholder="Password" type="password"
                                       ngModel required
                                       [(ngModel)]="password" ngDefaultControl></ion-input>
                        </ion-item>


                    </div>
                    <div padding>
                        <ion-button size="large" type="submit" expand="block"
                                    (click)="deleteUser()">Ta bort kontot
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>


