<ion-header>
    <ion-toolbar color="light">
        <ion-title>Ta bort ditt konto</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content style="--padding-top: 20%;">
    <ion-card class="list-card">
        <ion-list lines="none">
            <ion-item>
                <ion-text>Är du säker på att du vill ta bort ditt konto?</ion-text>
            </ion-item>
        </ion-list>
    </ion-card>

    <div padding>
    <ion-button size="large" type="submit" expand="block" (click)="deleteUser()">Ta bort kontot</ion-button>
    </div>
</ion-content>


