<ion-header>
    <ion-toolbar color="primary">
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-button>Get Data</ion-button>

    <ion-textarea placeholder="Items should be displayed here when pressing the button" readonly="true">

    </ion-textarea>


    <ion-button (click)="get()">Get time</ion-button>


    </ion-textarea>
    <ion-textarea placeholder="Items should be displayed here when pressing the button" readonly="true">
    <button type="button"
            onclick="document.getElementById('demo').innerHTML = Date()">
    Click me to display Date and Time.</button>

    <p id="demo"></p>






</ion-content>
