<ion-header>
    <ion-toolbar color="light">
        <ion-title>Byt lösenord</ion-title>
        <ion-buttons slot="start">
            <ion-back-button text="Tillbaka"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
<ion-card class="list-card">
    <ion-list class="create-activity-list" padding>
        <ion-item class="list-item-white">
            <ion-label>Gammalt lösenord:</ion-label>
            <ion-input name="Current Password:" type="password" ngModel
                               required
                               [(ngModel)]="currentPassword" ngDefaultControl></ion-input>
        </ion-item>
        <ion-item class="list-item-white">
            <ion-label>Nytt lösenord:</ion-label>
            <ion-input name="New Password:"  type="password"
                               ngModel required
                               [(ngModel)]="repeatedPassword" ngDefaultControl></ion-input>
        </ion-item>
        <ion-item class="list-item-white">
            <ion-label>Upprepa nytt lösenord:</ion-label>
            <ion-input name="Repeat new password:"  type="password" ngModel required
                               [(ngModel)]="newPassword" ngDefaultControl></ion-input>
        </ion-item>
    </ion-list>
</ion-card>

<div padding>
    <ion-button size="large" type="submit" expand="block"
                (click)='changePassword()'>Byt lösenord
    </ion-button>
</div>
</ion-content>


