<ion-header>
  <ion-toolbar color="primary">
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header><img src=""/></ion-list-header>
    <ion-item>
      <ion-label>Username: {{userService.currentUser.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Permissions: {{userService.currentUser.role.includes('admin') ? 'admin' : 'user'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Antal Badges: {{userService.currentUser.getNumberOfBadges()}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Password:</ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="logout()">Logout</ion-button>

  <ion-list>
    <ion-list-header>Account and Security</ion-list-header>
    <ion-item>
      <ion-label>Password: <ion-button (click)="changePassword()">Change password</ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-button color="danger" (click)="deleteAccount()">Delete account</ion-button>
    </ion-item>

    <ion-item>
      <ion-img [src]="userService.currentUser.picture"></ion-img>
    </ion-item>
  </ion-list>

</ion-content>
