<ion-header>
  <ion-toolbar color="light">
    <ion-title>Inställningar</ion-title>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header><img src=""/></ion-list-header>
    <ion-item>
      <ion-label>Användarnamn: {{userService.currentUser.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Kontotyp: {{userService.currentUser.role.includes('admin') ? 'admin' : 'user'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Antal Badges: {{userService.currentUser.getNumberOfBadges()}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Tillhör ungdomsgård: {{userService.currentUser.currentyouthcentre}} </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar ></ion-avatar>
    </ion-item>


  </ion-list>

  <ion-button (click)="logout()">Logga ut</ion-button>

  <ion-list>
    <ion-list-header>Konto och säkerhet</ion-list-header>
    <ion-item>
      <ion-button (click)="changePassword()">Byt lösenord</ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="danger" (click)="deleteAccount()">Ta bort konto</ion-button>
    </ion-item>



  </ion-list>

</ion-content>
