<ion-header>
    <ion-toolbar color="light">
        <ion-title>Inställningar</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content style="--padding-top: 20%">

    <ion-card class="list-card">
        <ion-list>
            <ion-list-header>Allmänt</ion-list-header>
            <ion-item>
                <ion-label>Användarnamn: {{userService.currentUser.name}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Visningsnamn: {{userService.currentUser.displayname}}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    Fritidsgård: {{youthCenterService.getTheRightId(userService.currentUser.currentyouthcentre)}} </ion-label>
            </ion-item>
            <div>
                <ion-list>
                    <ion-item class="list-item-white">
                        <ion-label>Byt fritidsgård:</ion-label>
                        <ion-select [(ngModel)]="currentyouthcentre" ngDefaultControl>
                            <ion-select-option *ngFor="let currentyouthcentre of youthcenters"
                                               [value]="currentyouthcentre.id">{{currentyouthcentre.name}} </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
                <ion-item>
                    <ion-button color="warning" (click)="addYouthCentre()">Byt fritidsgård</ion-button>
                </ion-item>
            </div>
            <ion-item-divider>Konto och säkerhet</ion-item-divider>
            <ion-item>
                <ion-button color="warning" (click)="changePassword()">Byt lösenord</ion-button>
            </ion-item>
            <ion-item>
                <ion-button color="danger" (click)="deleteAccount()">Ta bort konto</ion-button>
            </ion-item>
        </ion-list>
    </ion-card>

    <div padding>
        <ion-button (click)="logout()" size="large" type="submit" expand="block">Logga ut</ion-button>
    </div>

</ion-content>
