<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Profile</ion-title>
        <ion-icon slot = "end" (click)="goToSettings()" name="cog" size="" >Settings</ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-img [src]="userservice.currentUser.picture"></ion-img>

    <ion-item>{{userservice.currentUser.displayname}}</ion-item>

    <ion-item>{{userservice.currentUser.numberOfBadges}}</ion-item>

    <ion-item>{{getMyYouthCentre()}}</ion-item>









</ion-content>
