<ion-header>
    <ion-toolbar color="light">
        <ion-title>Profil</ion-title>
        <ion-icon slot="end" (click)="goToSettings()" name="cog" size="">Settings</ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div class="profile-pic">
        <ion-img [src]="userservice.currentUser.avatarurl"></ion-img>
    </div>


    <ion-list lines="none">
        <ion-item class="profile-page-name-item">
            <ion-label>{{userservice.currentUser.displayname}}</ion-label>
        </ion-item>
        <ion-item class="profile-information-section">
            <ion-card class="clickable-cards">
                <ion-card-content>
                    <ion-list lines="none">
                        <ion-item>
                            <ion-label>Fritidsgård: {{ourId}}</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>Antal badges: {{allMyBadges.length}}</ion-label>

                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-item>
        <ion-item>
            <ion-card class="clickable-cards">
                <ion-card-header>
                    <ion-title>Mina badges</ion-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-grid class="profile-badge-list">
                        <ion-row>
                            <ion-col size="4" *ngFor="let badges of allMyBadges">
                                <img src={{badges.image}}/>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>


    <div *ngIf="doesNotHaveYouthCentre()">
        <ion-list>
            <ion-list-header color="danger">Du har ingen ungdomsgård, lägg till en nedan</ion-list-header>
            <ion-item>
                <ion-label>Ungdomsgård:</ion-label>
                <ion-select [(ngModel)]="currentyouthcentre" ngDefaultControl>
                    <ion-select-option *ngFor="let currentyouthcentre of youthCentres"
                                       [value]="currentyouthcentre.id">{{currentyouthcentre.name}} </ion-select-option>
                </ion-select>

            </ion-item>
        </ion-list>

        <ion-button (click)="addYouthCentre()" size="large" type="submit" expand="block">Lägg till ungdomsgård
        </ion-button>

    </div>


</ion-content>









