<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Ny aktivitet</ion-title>
        <ion-buttons slot="start">
            <ion-back-button text="Tillbaka"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list class="create-activity-list" padding>
        <ion-item class="list-item-white">
            <ion-label>Aktivitetsnamn:</ion-label>
            <ion-input name="Event_name" type="text" placeholder="..." ngModel required
                       [(ngModel)]="name" ngDefaultControl></ion-input>
        </ion-item>
        <ion-item class="list-item-white">
            <ion-label>Börjar:</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD H:mm" pickerFormat="YYYY-MM-DD H:mm"
                          placeholder="Select start date"
                          [(ngModel)]="startdate" ngDefaultControl></ion-datetime>
        </ion-item>
        <ion-item class="list-item-white">
            <ion-label>Slutar:</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD H:mm" pickerFormat="YYYY-MM-DD H:mm"
                          placeholder="Select end date"
                          [(ngModel)]="enddate" ngDefaultControl></ion-datetime>
        </ion-item>
        <ion-item class="list-item-white">
            <ion-label>Location:</ion-label>
            <ion-input name="location" type="text" placeholder="Add a location" ngModel
                       required
                       [(ngModel)]="location" ngDefaultControl></ion-input>
        </ion-item>
        <ion-item class="list-item-white">
            <ion-label>Beskrivning:</ion-label>
            <ion-input name="description" type="text" placeholder="Describe your event" ngModel required
                       [(ngModel)]="description" ngDefaultControl></ion-input>
        </ion-item>
        <ion-item class="list-item-white">
            <ion-label>Alternativ plats:</ion-label>
            <ion-input name="alternativ_plats" type="text" placeholder="Add an alternative location" ngModel
                       required
                       [(ngModel)]="alt_location" ngDefaultControl></ion-input>
        </ion-item>
        <ion-item class="list-item-white">
            <ion-label>Kategori:</ion-label>
            <ion-select placeholder="Select One" (ionChange)="onChange($event)">
                <ion-select-option value="Football">Football</ion-select-option>
                <ion-select-option value="Chess">Chess</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item class="list-item-white">
            <ion-label>Ungdomsgård:</ion-label>
            <ion-select [(ngModel)]="challenged" ngDefaultControl>
                <ion-select-option *ngFor="let challenged of youthcenters"
                                   [value]="challenged.id">{{challenged.name}} </ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <div padding>
        <ion-button *appHasRole="'user'" size="large" type="submit" expand="block"
                    (click)='createSuggestion()'>Föreslå aktivitet
        </ion-button>
    </div>
    <div padding>
        <ion-button *appHasRole="'admin'" size="large" type="submit" expand="block"
                    (click)='createActivity()'>Skapa aktivitet
        </ion-button>
    </div>
</ion-content>

