nav{

  justify-self: left;

  ul{

    list-style-type: none;
    margin: 0;
    padding: 0;


    li {
      color: red;
      float:left;
      a{
        padding: 1.5em;
        text-transform: uppercase;
      }
    }


  }


}




