<ion-content padding>

    <ion-title>Förenade fritidsgårdar</ion-title>
    <ion-list>
        <ion-item>
            <ion-input placeholder="Användarnamn" [(ngModel)]="username" ngDefaultControl></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Lösenord" type="password" [(ngModel)]="password" ngDefaultControl></ion-input>
        </ion-item>
    </ion-list>

    <ion-button full (click)="newLogin()">Logga in</ion-button>
    <ion-button (click)="createProfile()">Skapa profil</ion-button>
    <ion-button full color="light" (click)="doFbLogin()">Logga in med Facebook
         <ion-icon name="logo-facebook"></ion-icon></ion-button>

    <ion-item>
        <ion-input name="currentyouthcentre" placeholder="Youth centre" type="number" ngModel required
                   [(ngModel)]="currentyouthcentre" ngDefaultControl></ion-input>
    </ion-item>


</ion-content>
