<ion-content padding>

    <ion-title>United Youth Centers</ion-title>
    <ion-list>
        <ion-item>
            <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
    </ion-list>

    <ion-button full (click)="newLogin()">Log in</ion-button>
    <ion-button (click)="createProfile()">Create profile</ion-button>
    <ion-button full  color="light" (click)="doFbLogin()">Log in with Facebook</ion-button>



</ion-content>
