<ion-header>
    <ion-toolbar color="light">
        <ion-title>Ändra aktivitet</ion-title>
        <ion-buttons slot="start">
            <ion-back-button text="Tillbaka"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content style="--padding-top: 20%">
    <ion-card class="list-card">
        <ion-list class="create-activity-list" padding>
            <ion-item>
                <ion-label>Aktivitetsnamn:</ion-label>
                <ion-input name="Event_name" type="text" placeholder="Choose a name" ngModel required
                           [(ngModel)]="name" ngDefaultControl></ion-input>
            </ion-item>
            <ion-item>
                <ion-grid class="date-picker">
                    <ion-row>
                        <ion-col>
                            <label>Startar:</label>
                        </ion-col>
                        <ion-col>
                            <ion-datetime class="in-list-datetime" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD"
                                          placeholder="datum"
                                          [(ngModel)]="startdate" ngDefaultControl></ion-datetime>
                        </ion-col>
                        <ion-col>
                            <ion-datetime class="in-list-datetime" displayFormat="H:mm" pickerFormat="H:mm"
                                          placeholder="tid"
                                          [(ngModel)]="starttime" ngDefaultControl></ion-datetime>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item>
                <ion-grid class="date-picker">
                    <ion-row>
                        <ion-col>
                            <ion-label>Slutar:</ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-datetime class="in-list-datetime" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD"
                                          placeholder="datum"
                                          [(ngModel)]="enddate" ngDefaultControl></ion-datetime>
                        </ion-col>
                        <ion-col>
                            <ion-datetime class="in-list-datetime" displayFormat="H:mm" pickerFormat="H:mm"
                                          placeholder="tid"
                                          [(ngModel)]="endtime" ngDefaultControl></ion-datetime>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item>
                <ion-label>Om aktiviteten:</ion-label>
                <ion-input name="description" type="text" placeholder="Describe your event" ngModel required
                           [(ngModel)]="description" ngDefaultControl></ion-input>
            </ion-item>
        </ion-list>
    </ion-card>
    <div padding>
        <ion-button size="large" type="submit" expand="block"
                    (click)='sendSuggestionAsChallenge()'>Skicka som utmaning
        </ion-button>
    </div>
</ion-content>
