<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Ändra aktivitet</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="list-card">
        <ion-list>
            <ion-item>
                <ion-label>Aktivitetsnamn:</ion-label>
                <ion-input name="Event_name" type="text" placeholder="Choose a name" ngModel required
                           [(ngModel)]="name" ngDefaultControl></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Startdatum:</ion-label>
                <ion-datetime displayFormat="YYYY-MM-DD H:mm" pickerFormat="YYYY-MM-DD H:mm"
                              placeholder="Select start date"
                              [(ngModel)]="startdate" ngDefaultControl></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Slutdatum:</ion-label>
                <ion-datetime displayFormat="YYYY-MM-DD H:mm" pickerFormat="YYYY-MM-DD H:mm"
                              placeholder="Select end date"
                              [(ngModel)]="enddate" ngDefaultControl></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Om aktiviteten:</ion-label>
                <ion-input name="description" type="text" placeholder="Describe your event" ngModel required
                           [(ngModel)]="description" ngDefaultControl></ion-input>
            </ion-item>
        </ion-list>
    </ion-card>
    <div padding>
        <ion-button size="large" type="submit" expand="block"
                    (click)='sendSuggestionAsChallenge()'>Skicka som utmaning
        </ion-button>
    </div>
</ion-content>
