<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Skapa konto</ion-title>
        <ion-buttons slot="start">
            <ion-back-button text="Tillbaka"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="register-account-list" padding>
        <ion-item>
            <ion-input name="username" placeholder="Användarnamn" type="username" ngModel required
                       [(ngModel)]="username" ngDefaultControl></ion-input>
        </ion-item>
        <ion-item>
            <ion-input name="displayname" placeholder="Visningsnamn" type="username" ngModel required
                       [(ngModel)]="displayname" ngDefaultControl></ion-input>
        </ion-item>
        <ion-item>
            <ion-input name="password" placeholder="Lösenord" type="password" ngModel required
                       [(ngModel)]="password" ngDefaultControl></ion-input>
        </ion-item>
        <ion-item>
            <ion-input name="email" placeholder="E-post" type="email" ngModel required
                       [(ngModel)]="email" ngDefaultControl></ion-input>
        </ion-item>
        <ion-item>
            <ion-input name="currentyouthcentre" placeholder="Fritidsgård" type="number" ngModel
                       required
                       [(ngModel)]="currentyouthcentre" ngDefaultControl></ion-input>
        </ion-item>
    </ion-list>
    <div padding>
        <ion-button size="large" type="submit" expand="block" (click)="createUserAndPost()">Skapa
        </ion-button>
    </div>

</ion-content>


