<ion-header>
    <ion-toolbar color="light">
        <ion-title>Skapa konto</ion-title>
        <ion-buttons slot="start">
            <ion-back-button text="Tillbaka"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content style="--padding-top: 20%">
    <ion-card class="list-card">
        <ion-list class="register-account-list" padding>
            <ion-item class="list-item-white">
                <ion-label>Användarnamn:</ion-label>
                <ion-input name="username" placeholder="..." type="username" ngModel required
                           [(ngModel)]="username" ngDefaultControl></ion-input>
            </ion-item>
            <ion-item class="list-item-white">
                <ion-label>Visningsnamn:</ion-label>
                <ion-input name="displayname" placeholder="..." type="username" ngModel required
                           [(ngModel)]="displayname" ngDefaultControl></ion-input>
            </ion-item>
            <ion-item class="list-item-white">
                <ion-label>Lösenord:</ion-label>
                <ion-input name="password" placeholder="..." type="password" ngModel required
                           [(ngModel)]="password" ngDefaultControl></ion-input>
            </ion-item>
            <ion-item class="list-item-white">
                <ion-label>E-post:</ion-label>
                <ion-input name="email" placeholder="..." type="email" ngModel required
                           [(ngModel)]="email" ngDefaultControl></ion-input>
            </ion-item>
            <ion-item class="list-item-white">
                <ion-label>Ungdomsgård:</ion-label>
                <ion-select class="select-box" [(ngModel)]="currentyouthcentre" ngDefaultControl>
                    <ion-select-option *ngFor="let currentyouthcentre of youthCentres"
                                       [value]="currentyouthcentre.id">{{currentyouthcentre.name}} </ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </ion-card>

    <div padding>
        <ion-button size="large" type="submit" expand="block" (click)="createUserAndPost()">Skapa
        </ion-button>
    </div>

</ion-content>


