<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Register</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>Create a user profile</ion-list-header>
        <ion-item>
            <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Email" [(ngModel)]="email"></ion-input>
        </ion-item>
    </ion-list>

    <ion-button (click)="createProfile()">Create Profile</ion-button>

</ion-content>
