<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{activity.name}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!--LISTA FÖR: NAMN DATUM PLATS BESKRIVNING -->
    <ion-list>
        <ion-item>
            <h4>Name: {{activity.name}}</h4>
        </ion-item>
        <ion-item>
            <h4>Date: {{activity.startdate}}</h4>
        </ion-item>
        <ion-item>
            <h4>Location: </h4>
        </ion-item>
        <ion-item>
            <h4>Description: {{activity.description}}</h4>
            <ion-textarea></ion-textarea>
        </ion-item>
    </ion-list>
    <!--BOKA/AVBOKA KNAPPAR-->
    <ion-button (click)="bookActivity()" *ngIf="!booked() && !isChallenge()">Attend</ion-button>
    <ion-button (click)="removeActivity()" *ngIf="booked()">Unattend</ion-button>
    <ion-button (click)="acceptChallenge()" *ngIf="isChallenge()" >Accept Challenge</ion-button>

</ion-content>
