<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{activity.name}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!--LISTA FÖR: NAMN DATUM PLATS BESKRIVNING -->
    <ion-list>
        <ion-item>
            <h4>Name: {{activity.name}}</h4>
        </ion-item>
        <ion-item>
            <h4>Date: {{activity.startdate}}</h4>
        </ion-item>
        <ion-item>
            <h4>Location: </h4>
        </ion-item>
        <ion-item>
            <h4>Description: {{activity.description}}</h4>
            <ion-textarea></ion-textarea>
        </ion-item>

        <!--Ska kunna välja i dropdown av de två som tävlar*-->
        <div *ngIf="isActivityOwner()">
            <ion-radio-group>
                <ion-item-divider>
                    <ion-list-header>Winner</ion-list-header>
                </ion-item-divider>

                <ion-list *ngFor="let competitor of competitors">
                    <ion-item>
                        <ion-label>{{competitor.id}}</ion-label>
                        <ion-radio value="{{competitor.id}}" (ionSelect)="radioChangeHandler($event)"></ion-radio>
                    </ion-item>
                </ion-list>
            </ion-radio-group>
        </div>
    </ion-list>
    <!--BOKA/AVBOKA KNAPPAR-->
    <div *appHasRole="'user'">
        <ion-button (click)="bookActivity()" *ngIf="!booked() && !isChallenge()">Attend</ion-button>
        <ion-button (click)="removeActivity()" *ngIf="booked()">Unattend</ion-button>
    </div>
    <div *appHasRole="'admin'">
        <ion-button (click)="acceptChallenge()" *ngIf="isChallenge()">Accept Challenge</ion-button>
        <ion-button (click)="specifyWinner()" *ngIf="isActivityOwner()">Specify Winner</ion-button>
        <ion-list *ngIf="isActivityOwner()">
            <ion-list-header>
                <ion-label>Participation List</ion-label>
                <ion-badge>{{participants.length}}</ion-badge>
            </ion-list-header>
            <ion-item *ngFor="let participant of participants">
                <h1>{{participant.displayname}}</h1>
            </ion-item>
        </ion-list>
    </div>


</ion-content>
