
.cool-text {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

nav {

  justify-self: left;

  ul {

    list-style-type: none;
    margin: 0;
    padding: 0;


    li {
      color: red;
      float: left;

      a {
        padding: 1.5em;
        text-transform: uppercase;
      }
    }


  }

}
