<ion-header>
    <ion-toolbar color="light">
        <ion-title>Hem</ion-title>
    </ion-toolbar>
</ion-header>

<!--CARD LIST -->
<ion-content padding>

    <ion-card class="list-card">
        <ion-card-header>
            <ion-card-title>Välkommen {{userService.currentUser.displayname}}!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-text>Du har {{this.activityService.allMyActiveActivities.length}} aktiviteter på gång! Se dem nedan
                eller
                boka in dig på fler på aktivitetssidan.
            </ion-text>
        </ion-card-content>
    </ion-card>

    <ion-card class="list-card">
        <ion-card-header>
            <ion-card-title>Kommande aktiviteter</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let activity of this.activityService.allMyActiveActivities">
                    <ion-label>{{activity.name}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card class="list-card">
        <ion-card-header>
            <ion-card-title>Karta</ion-card-title>
        </ion-card-header>
        <ion-card-content class="map-card-content">
            <app-google-maps></app-google-maps>
        </ion-card-content>
    </ion-card>

</ion-content>

