<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <!--ACTIVITY SEARCH BAR-->
    <ion-searchbar placeholder="Search activity"></ion-searchbar>

    <!--ACTIVITY LIST-->
    <ion-list>
        <ion-list-header>
            <ion-item>My Activities</ion-item>
        </ion-list-header>
        <ion-item>
            <ion-label>Activity1</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Activity2</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Activity3</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Activity4</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
