// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// ******PAGE SPECIFIC STYLING*****

// ***LOGIN PAGE***

.logo ion-img {
  width: 70%;
  height: 70%;
  margin: auto;
  padding-bottom: 10%;
  padding-top: 30%;
}

.login-page-buttons {
  padding-top: 25%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.login-buttons ion-button {
  width: 100%
}

#facebook-login-button {
  width: fit-content;
}

.login-fields .placeholder-text {
  --placeholder-color: white;
  --plceholder-opacity: 1;
  font-size: 30px;
  color: white;
  text-align: center;
}

// ***REGISTER ACCOUNT***
.register-account-list {
  padding-bottom: 10%;
}

.register-account-list ion-item {
  padding-bottom: 20px;
}

// ***ACTIVITY PAGE***
.add-fab {
  color: rgba(0, 0, 0, 1);

  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;

  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
  0 10px 0 0 rgba(255, 255, 255, 0.5) inset,
  0 0 5px 2px rgba(255, 255, 255, 0.75),
  0 0 10px 2px rgba(255, 255, 255, 0.75) inset !important;
  --background: radial-gradient(ellipse at center, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 0) 100%); /* W3C */
}

.category-dropdown {
  --ion-background-color: transparent;
}

// ***CREATE ACTIVITY PAGE***
.create-activity-list {
  padding-bottom: 10%;
}

.create-activity-list ion-item {
  padding-bottom: 20px;
}

.date-picker {
  padding: 0;
}

.date-picker ion-col {
  padding: 0;
}

.in-list-datetime {
  --padding-bottom: 0;
  --padding-top: 0;
  --padding-start: 0;
  --padding-end: 0;
}

// ***MAP PAGE STYLING***
.map {
  height: 100%;
  width: 100%;
  position: relative;
}

.map-buttons {
  position: absolute;
  bottom: 0;
  padding-left: 10px;
  padding-bottom: 25px;

  button {
    padding: 10px 10px 10px 10px;
    margin-left: 5%;
    margin-bottom: 5%;
    background: white;
    font-size: 16px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.28);
  }
}

// *****GENERAL STYLING*****

// BUTTON STYLING
ion-button {
  color: rgba(0, 0, 0, 1);

  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;

  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
  0 10px 0 0 rgba(255, 255, 255, 0.5) inset,
  0 0 5px 2px rgba(255, 255, 255, 0.75),
  0 0 10px 2px rgba(255, 255, 255, 0.75) inset !important;
  --background: radial-gradient(ellipse at center, rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, .2) 100%); /* W3C */
  font-size: 20px;
}

// DATETIME-PICKER STYLING
ion-datetime {
  --placeholder-color: black;
}

.picker-button {
  color: black !important;
}

.picker-wrapper {
  --background: white;
}

// SELECTOR ALERT WINDOW STYLING
.alert-button {
  color: black !important;
}

// LIST STYLING
ion-list {
  --ion-background-color: transparent;
}

.card-list ion-list ion-item {
  --ion-background-color: transparent;
  //-moz-box-shadow: 14px 14px 88px -27px rgba(0, 0, 0, 0.82);
  // box-shadow: 14px 14px 88px -27px rgba(0, 0, 0, 0.82);
}

.list-card {
  margin-top: 20%;
  background: white;
}

.clickable-cards {
  width: 100%;
  min-height: 100px;
  text-align: center;
  font-size: 25px;
  background: white;

  ion-card-title {
    color: black;
  }

  ion-card-subtitle {
    color: black;
  }


}

//Div for cards
.card-background-page {

  //scss for specific card
  ion-card {
    position: relative;
    text-align: center;
    border-radius: 40px !important;
    --color: white !important;
    --background: blue !important;
  }

  //scss for title and subtitles of cards.
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px #1e2023;

  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;

    text-shadow: 1px 1px #1e2023;
  }
}


ion-icon {
  font-size: 40px; //Preferred size here
}


/*.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #fff;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

 */

.badge {
  max-width: 100%;
  height: 20px;
}








