// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// ******PAGE SPECIFIC STYLING*****

// ***LOGIN PAGE***

.logo ion-img {
  width: 70%;
  height: 70%;
  margin: auto;
  padding-bottom: 5%;
  padding-top: 20%;
}

.login-page-buttons {
  padding-bottom: 0;
  margin-bottom: 0;
}

.login-buttons ion-button {
  width: 100%
}

#facebook-login-button {
  width: fit-content;
}

.login-fields .placeholder-text {
  --placeholder-color: white;
  --plceholder-opacity: 1;
  font-size: 30px;
  color: white;
  text-align: center;
}

// ***REGISTER ACCOUNT***
.register-account-list {
  padding-bottom: 10%;
}

.register-account-list ion-item {
  padding-bottom: 20px;
}

// ***HOME PAGE***
.map-card-content {
  height: 500px;
}

// ***ACTIVITY PAGE***
.add-fab {
  color: rgba(0, 0, 0, 1);

  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;

  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
  0 10px 0 0 rgba(255, 255, 255, 0.5) inset,
  0 0 5px 2px rgba(255, 255, 255, 0.75),
  0 0 10px 2px rgba(255, 255, 255, 0.75) inset !important;
  --background: radial-gradient(ellipse at center, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 0) 100%); /* W3C */
}

.category-dropdown {

  margin: auto;
  width: 90%;
  color: #f4f5f8;
  --ion-border-radius:4px;
  --ion-border:5px solid #f4f5f8;
  font-size: 12px;


  --ion-background-color: light;
}

.notification-container {
  margin: auto;
  padding: 10px;
  background: green;
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
  color: white;
  font-size: 18px;
}

// ***CREATE ACTIVITY PAGE***
.create-activity-list {
  padding-bottom: 10%;
}

.create-activity-list ion-item {
  padding-bottom: 20px;
}

.date-picker {
  padding: 0;
}

.date-picker ion-col {
  padding: 0;
}

.in-list-datetime {
  --padding-bottom: 0;
  --padding-top: 0;
  --padding-start: 0;
  --padding-end: 0;
}

.activity-button-group {
  margin: auto;

  ion-button {
    width: 100%;
  }

}

// ***MAP PAGE STYLING***
.map {
  height: 100%;
  width: 100%;
  position: relative;
}

.map-buttons {
  position: absolute;
  bottom: 0;
  padding-left: 10px;
  padding-bottom: 25px;

  button {
    padding: 10px 10px 10px 10px;
    margin-left: 5%;
    margin-bottom: 5%;
    background: white;
    font-size: 16px;
  }
}

// ***BADGE PAGE***
ion-progress-bar {
  height: 18px;
  --buffer-background: white;
  --progress-background: #00c3ff;
  border-radius: 10px;
}

.category-progress {
  box-shadow: 1px 4px 7px rgba(0, 0, 0, .5);
}

.progress-bar ion-list-header {
  justify-content: center;
  font-size: 18px;
}

.badge-icon {
  height: 50% !important;
  width: 50% !important;
  margin: auto;
}

.available-badge {
  filter: grayscale(100%);
}

// ***PROFILE PAGE***
.profile-pic {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 60%;
  background: white;
  border: solid black 1px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-page-name-item {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.profile-information-section {
  padding-top: 20px;
}

// *****GENERAL STYLING*****

// ***BUTTON STYLING***
ion-button {
  color: rgba(0, 0, 0, 1);

  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;

  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
  0 10px 0 0 rgba(255, 255, 255, 0.5) inset,
  0 0 5px 2px rgba(255, 255, 255, 0.75),
  0 0 10px 2px rgba(255, 255, 255, 0.75) inset !important;
  --background: radial-gradient(ellipse at center, rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, .2) 100%); /* W3C */
  font-size: 20px;
}

// ***DATETIME-PICKER STYLING***
ion-datetime {
  --placeholder-color: black;
}

.picker-button {
  color: black !important;
}

.picker-wrapper {
  --background: white;
}

// ***SELECTOR ALERT WINDOW STYLING***
.alert-button {
  color: black !important;
}

// ***LIST STYLING***
ion-list {
  --ion-background-color: transparent;
}

.card-list ion-list ion-item {
  --ion-background-color: transparent;
  //-moz-box-shadow: 14px 14px 88px -27px rgba(0, 0, 0, 0.82);
  // box-shadow: 14px 14px 88px -27px rgba(0, 0, 0, 0.82);
}

.list-card {
  margin-bottom: 15px;
  margin-top: 0;
  background: white;
  border-radius: 30px;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, .5);

  ion-card-title {
    font-size: 18px;
    text-align: center;
  }
}

.clickable-cards {
  width: 100%;
  text-align: center;
  font-size: 25px;
  background: white;
  border-radius: 30px;
  margin-bottom: 15px;
  margin-top: 0;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, .5);

  ion-card-title {
    color: black;
  }

  ion-card-subtitle {
    color: black;
  }
}

// ***SEARCHBAR STYLING***
.searchbar-input-container {
  --background: transparent;
}

// ***ION-BADGE STYLING***
ion-badge {
  background: #00c3ff;
}

// ***SEGMENT STYLING***
ion-segment {
  background: lightgreen;
}

//Div for cards
.card-background-page {

  //scss for specific card
  ion-card {
    position: relative;
    text-align: center;
    border-radius: 40px !important;
    --color: white !important;
    --background: blue !important;
  }

  //scss for title and subtitles of cards.
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px #1e2023;

  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;

    text-shadow: 1px 1px #1e2023;
  }
}

ion-icon {
  font-size: 40px; //Preferred size here
}








