// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


// LIST STYLING

ion-list {
  --ion-background-color: transparent;
}

ion-list ion-item {
  --ion-background-color: transparent;
  lines: none;
  webkit-box-shadow: 14px 14px 88px -27px rgba(0,0,0,0.82);
  -moz-box-shadow: 14px 14px 88px -27px rgba(0,0,0,0.82);
  box-shadow: 14px 14px 88px -27px rgba(0,0,0,0.82);
}

.clickable-cards {
  margin: auto;
  width: 100%;
  text-align: center;
}

//Div for cards
.card-background-page {

  //scss for specific card
  ion-card {
    position: relative;
    text-align: center;
    border-radius: 40px !important;
    --color: white !important;
    --background: blue !important;
  }

  //scss for title and subtitles of cards.
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px #1e2023;

  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;

    text-shadow: 1px 1px #1e2023;
  }
}

.map {
  height: 80%;
}

ion-icon {
  font-size: 40px; //Preferred size here
}







